img{
  height: 50px;
}
div div{
      background-color: plum;
      border: 1px solid rebeccaPurple;
    }
    .tall{
      height: 750px;
    }
button{
  text-align: center;
  width: 250px;
}
#buttonred{
  background-color: red;
}
#buttonblue{
  background-color: #08427B;
}
#buttongreen{
  background-color: green; 
}
