img{
  height: 50px;
}
.img-container{
  text-align: center;
}
.show{
  height: 250px;
  width: 250px;
  padding: 10px;
}
.show:hover{
  background-color: #FEDA73;
}
#top:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}
#top{
  height: 100px;
  text-align: center;
  transform: .2s;
}
div div{
      background-color: #C1C1C0;
    }
h1{
  color:blue;
}
h1, h2{
  font-family: 'Fredoka One', cursive;
}
span{
  font-size: 20px;
}
body{
  background-color: #939292;
}
